body,
html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width: 100vw;
    box-sizing: border-box;
}

#blog {
    background-color: #e0f1f9;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    height: 300vh;
}

#blog_detail {
    background-color: #e0f1f9;
    padding: 5%;
    width: 100vw;
    height: 600vh;
}

#post_edit {
    background-color: #e0f1f9;
    padding: 5%;
    width: 100vw;
    height: 220vh;
}

.titre_blog {
    font-size: 30px;
    color: #9d592a;
    text-shadow: 2px 2px 8px black;
    text-decoration: underline;
    padding-bottom: 15%;
    font-size: 18px;
}

.titre_blog1 {
    font-size: 30px;
    color: #9d592a;
    text-shadow: 2px 2px 8px black;
    text-decoration: underline;
    padding-bottom: 8%;
    font-size: 18px;
}

#nav {
    float: right;
}

.logo {
    z-index: 99;
}

.importantbordel {
    color: #9d592a;
    text-shadow: 2px 2px 8px black;
    text-decoration: underline;
}

.titre_publication {
    font-size: 16px;
    color: #9d592a;
}

.titre_new {
    font-size: 18px;
    color: #9d592a;
    padding-bottom: 6%;
}

.titre_publication:hover {
    font-size: 20px;
}

.titre_drafts:hover {
    font-size: 20px;
}

hr {
    border-top: 2px solid;
    width: 60%;
}

#date {
    font-size: 10px;
}

.btn {
    border: 1px solid #09326e;
}

.post-form {
    top: 130%;
    left: 50%;
}

#id_text {
    height: 60px;
}

@media screen and (min-width: 961px) {
    #blog {
        background-color: #e0f1f9;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 5%;
    }
    #blog_detail {
        padding: 9%;
    }
    #post_edit {
        padding: 10%;
        height: 125vh;
    }
    .post-form {
        top: 80%;
    }
    .titre_blog {
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 1280px) {
    .post-form {
        top: 64%;
    }
}