{% load static %} {% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <title>Webmag Agency Blog</title>
</head>


<body>
    <div class="container-fluid d-none d-md-block">
        <div class="row">
            {% block logo %}
            <div class="col-2 ">
                <a href="{% url 'accueil' %}" class="logo">
                    <img src="{% static 'img/logo2.png' %}" class="img-fluid" alt="logo" id="logo">
                </a>
            </div>
            {% endblock %}
            <div class="row">
                <nav class="col-12 col-md-12 navbar navbar-expand-md fixed-top justify-content-end" id="navbar">
                    {% if user.is_authenticated %}
                    <h2><a href="{% url 'logout' %}">DECONNEXION</a></h2>{% else %}

                    <a class="nav-link active" href="{% url 'login' %}">
                        <h2>CONNEXION</h2>
                    </a>
                    {% endif %}
                    <a class="nav-link" href="#">
                        <h2>FORMATION</h2>
                    </a>
                    <a class="nav-link" href="{% url 'contact' %}"><strong><h2 class="importantbordel">CONTACTEZ-NOUS</h2></strong></a>
                    <a class="nav-link" href="#"><strong><h2 class="importantbordel">NOUS RECRUTONS</h2></strong></a>
                </nav>
            </div>

        </div>
    </div>
    <div class="container-fluid" id="blog_detail">
        <div class="row">
            <div class="col-5 d-block d-sm-none">
                <a href="/">
                    <h2 class=titre_blog>Webmag Agency</h2>
                </a>
                <a href="{% url 'post_list'%}">
                    <h2 class=titre_blog>Blog</h2>
                </a>
            </div>
            <div class="col-5 d-none d-md-block">
                <a href="{% url 'post_list'%}">
                    <h2 class=titre_blog>Webmag Agency Blog</h2>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="col-5 col-md-5 offset-md-2 col-xl-4 d-flex justify-content-between">
                <a href="{% url 'post_draft_list' %}">
                    <button type="submit" class="btn btn-default">Editer</button></a>
                <a href="{% url 'post_edit' pk=post.pk %}">
                    <button type="submit" class="btn btn-default">Modifier</button></a>
                <a href="{% url 'post_remove' pk=post.pk %}">
                    <button type="submit" class="btn btn-default">Supprimer</button></a>

            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="post">
                <div class="col-12">
                    <h3 class="titre_publication">{{ post.title }}</h3>
                </div>
                <div class="col-12">
                    <p><i>{{ post.auteur|linebreaksbr }}</i></p>
                    <p>{{ post.text|linebreaksbr }}</p>
                    {% if post.published_date %}
                    <div id="date">
                        {{ post.published_date }}
                    </div>
                </div>
                {% else %}
                <a href="{% url 'post_publish' pk=post.pk %}">
                    <button type="submit" class="btn btn-default">Publier</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 40) {
                document.getElementById("navbar").style.height = "4%";

            } else {
                document.getElementById("navbar").style.height = "8%";

            }
        }
    </script>
</body>

</html>
{% endblock %}