 {% extends "base/base.html" %} {% load static %} {% block page_content %} {% if form.errors %}
<p>Votre nom et mot de passe ne sont pas valides. Veuillez rééssayer s'il vous plait.</p>

{% endif %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="Se connecter" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

<!-- <div class="row" id="form">
    <div class="col-6 offset-3">
        {% block login %}{% endblock %}
    </div>
</div> -->